.container2 {
    width: 80vw;
    display: grid;
    align-items: center;
    word-wrap: normal;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 0.5fr 0.2fr;
    grid-template-areas:
        "img descrip"
        "counter descrip";
    border-radius: 10px;
    box-shadow: 1px 10px 20px rgb(66, 66, 66);
}

.itemDetail {
    display: flex;
    justify-content: center;
}

.img {
    grid-area: img;
    height: 100%;
    border-right: 1px solid black;
}

.counter {
    grid-area: counter;
    border-right: 1px solid black;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descrip {
    grid-area: descrip;

}

span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.detalleSub,
.detalleDesc,
.detallePrecio {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.detalleImg {
    width: auto;
    max-width: 230px;
    filter: drop-shadow(10px 10px 10px rgb(75, 75, 75));
}