.itemDetail {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container2 {
    width: 80vw;
    max-width: 750px;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    word-wrap: normal;
    border-radius: 10px;
    box-shadow: 1px 10px 20px rgb(66, 66, 66);
}

.img {
    grid-column: 1;
    grid-row: 1;
    padding: 20px 0px;
    height: 100%;
    z-index: 1;
}

.counter {
    grid-column: 1 / 2;
    grid-row: 2;
}

.descrip {
    grid-column: 2;
    grid-row: 1;
}

span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.detalleTit {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #1f05b1;
    margin-bottom: 0;
}
.detalleText{
    padding-left: 20px;
    text-align: left;
}

.detalleImg {
    width: auto;
    max-width: 230px;
    filter: drop-shadow(10px 10px 10px rgb(75, 75, 75));
}

@media only screen and (max-width: 880px) {
    .itemDetail,
    .container2{
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: auto;
    }
    .itemDetail {
        width: 100%;
        height: fit-content;
    }
    
    .img img{
        width: 80%;
        height: auto;
        align-items: center;
    }
        
    }