.itemDetail {
    width: 100vw;
    display: grid;

    justify-content: center;
}

.container2 {
    width: 90vw;
    height:fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
/*     word-wrap: normal; */
    border-radius: 10px;
    box-shadow: 1px 10px 20px rgb(66, 66, 66);
}

.img {
    padding: 20px 0px;
    height: 100%;
    z-index: 1;
}

.counter {
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.detalleSub,
.detalleDesc,
.detallePrecio {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.detalleImg {
    width: auto;
    max-width: 230px;
    filter: drop-shadow(10px 10px 10px rgb(75, 75, 75));
}

@media only screen and (max-width: 880px) {
    .itemDetail,
    .container2{
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: auto;
    }
    .itemDetail {
        width: 100%;
        height: fit-content;
    }
    
    .img img{
        width: 80%;
        height: auto;
        align-items: center;
    }
    .detalleSub,
    .detalleDesc,
    .detallePrecio{
        font-size: 20px;
    }
        
    }