.container2 {
    height: fit-content;
    width: 80vw;
    max-width: 590px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 30px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 10px 20px rgb(66, 66, 66);
}

.itemDetail {
    display: flex;
    justify-content: center;
}

.descrip{
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 20px 0px;
    height: 100%;
}



.img {
    width:100%;
    max-width: 590px;
    padding: 20px 0px;
    height: 100%;
    z-index: 1;
}

textarea{
    resize:unset;
    font-size: 16px;
}

span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.detalleSub,
.detalleDesc,
.detallePrecio {
    width:100%;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.detalleImg {
    width: auto;
    max-width: 230px;
    filter: drop-shadow(10px 10px 10px rgb(75, 75, 75));
}

@media only screen and (max-width: 880px) {
    .itemDetail,
    .container2{
        width: fit-content;
        height: fit-content;
        font-size: auto;
        display: flex;
        flex-direction: column;
    }
    
    .itemDetail {
        width: 100%;
        height: fit-content;
    }
    
    .img img{
        width: 80%;
        height: auto;
        align-items: center;
    }
    .detalleSub,
    .detalleDesc,
    .detallePrecio{
        width: 80%;
        height: auto;
        font-size: 1vw;
        display: flex;
        flex-direction: column;
    }
    
    .descrip{
        width:fit-content;
        padding: 20px 0px;
        height: 100%;
    }
        
    }