.borderCard {
    margin: 20px;
    padding: 5px;
    border-radius: 8px;
    width: 250px;
    height: auto;
    box-shadow: 1px 10px 20px rgb(66, 66, 66);
    background-color: azure;
}

.imagenProd {
    width: 150px;
}

.titulo {
    font-size: 20px;
    color: coral;
}

a {
    text-decoration: none;
    color: black;
}