.borderCard {
    margin: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
    width: 250px;
    height: auto;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 /9%);
}

.imagenProd {
    width: 150px;
}

.titulo {
    font-size: 20px;
    color: coral;
}