* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-header {
    position: sticky;
    min-height: 100vh;
    top: 0;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    background-color: black;
}

.navBar,
.ulNav,
.liNav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
}

.navBar {
    box-shadow: 20px 0 15px rgb(0, 0, 0), 50px 0 30px white;
    position: sticky;
    background-image: linear-gradient(to left, rgb(206, 214, 86), white);
}

.navLink {
    color: black;
    padding: 0 5px 0 5px;
    text-decoration: none;
}